body,
h1 {
	margin: 0;
}

body {
	padding: 20px;
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.company-name {
	color: #000;
}
.nav {
	display: flex-box;
}

.nav-list {
	list-style: none;
	display: flex;
	margin-right: -5px;
}

.link {
	text-decoration: none;
	color: #7944e6;
	padding: 10px;
}

.nav-item {
	text-decoration: none;
	color: #69696a;
	display: flex;
}
ul {
	margin: 0;
	padding: 0;
}
.nav-list{
	display: flex;
	flex-direction: column;
	}

.accent-link1,.accent-link {
	background-color: black;
	display: block;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	color: white;
}

.about-text {
	border-left: 2px solid black;
	padding-left: 10px;
	color: #69696a;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(247, 193, 162, 0.7);
	display: flex;
	justify-content: space-between;
	color: #69696a;
	padding: 10px;
	box-sizing: border-box;
}

.footer-nav-list {
	display: flex;
}

.footer-nav-list a {
	color: #69696a;
	padding: 5px;
}
@media screen and (min-width: 768px) {
	    ul {
			margin: 0;
			padding: 0;
		}
	    .nav {
			display: flex-box;
		}
		
		.nav-list {
			display: flex;
			flex-direction: row;
		}

		ul.nav-list{
			display: flex;
			align-items: center;
			justify-content:right;
		}
		
		.link {
			text-decoration: none;
			display: flex;
			padding: 10px;
		}
		
		.nav-item {
			text-decoration: none;
			color: #69696a;
			display: flex;
		}
		.about-parent-container {
			display: flex;
			align-items: center;
			padding-bottom: 200px;
			height : 500px;
		}
	
		.about-container {
			flex: 1;
			height: 500px;
		}
		.side-by-side-item{
            width: 50%;
		}
		.circle-container {
			flex: 1;
		}
		.wrapper {
			display:flex;
			width: 735px;
			margin: 100px auto 0 auto;
			position: relative;
			height : 800px;
			left : 100px;
		}
		.about-container.side-by-side-item {
			margin-top: 200px;
		}
		.circle-container.side-by-side-item {
			height: 500px;
		}
		.ring {
			margin:5px;
			float:left;
			position:absolute;
			padding: 133px;
			border-radius: 50%;
		}
		.ring1 {
			border:15px;
	        height:1em;
	        width:1em;
	        padding:110px;
	        background:rgba(247, 136, 167, 0.6);
		}
		.ring2 {
			border:15px;
			top: 100px;
			left: 135px;
	        border-radius:50%;
	        height:.1em;
	        width:.1em;
	        padding:100px;
	        background:rgba(247, 193, 162, 0.7)
		}
		.ring3 {
			border:15px;
			padding:80px;
			height:.1em;
			width:.1em;
			background:rgba(207, 130, 213, 0.6);
			left: 200px;
			z-index: -1;
		}

		.overlap {
			border: 15px solid transparent; 
		}

	}